/*Vamos começar a usar CSS!!!*/

/*Anatomia de uma regra CSS
    
    Seletor{
        Propriedade: Valor;
    }
*/

/*Exemplo de uma regra CSS*/

/*Exemplos de seletores*/

/*Seletores de tipo*/

h1{
    color: #ff0000;
    text-align: center;
    font-family: Courier, Georgia, serif;
}

h2{
    font-family: Courier, Georgia, serif;
}

p{
    color:rgb(90, 200, 100);
}

form{
    display: inline-block;
    border: 1px solid rgb(107, 107, 107);
    padding: 10px;
}

form ul{
    padding: 10px;
}

.info{
    padding: 10px;
    list-style-type: none;
}

#botoes input{
    background-color: rgb(37, 136, 182);
    color: white;
}

#contato{
    text-align: center;
}

#projeto{
    color: rgb(90, 200, 100);
}

#cabecalho{
    background-image: url(../img/img-01-banner-1280×640.png);
    background-color: rgb(40, 0, 255);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: 1500px;
    
}

nav{
    font-weight: bold;
}   

footer{
    border-top: 2px solid rgb(255,0,0);
}
/*Seletores de classe*/

#container {
    padding: 20px;
}

.link {
    border: 2px solid #ff0000;
    display: inline-block;
    margin: 0 2%;
    background-color: rgba(255, 00, 00, 0.200);
    padding: 5px 5px;
    width: 15%;
    transition: all 0.4s ease-out;

    &:hover{
        background-color: rgba(255, 0, 0, 0.500);
    }
}

    a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    
    img{
        display: inline-block;
        width: 25%;
    }
}

/*Seletores de ID*/
#menu ul{
    list-style-type: none;
    text-align: center;
}

section #conteudo {
    line-height: 1.5cm;
}